<div>
    <h3>Pokemon details</h3>
    <div *ngIf="currentPokemon" class="my-2 p-5">
        <div>
            <div>Name : {{ currentPokemon.name }}</div>
            <div>Heigth : {{ currentPokemon.height}}</div>
            <div>Weight : {{ currentPokemon.weight }}</div>
        </div>
        <div>
            <img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/358.png' />
        </div>
        <div>
            <h6>Abilities:</h6>
            <ul>
                <li *ngFor="let ability of currentPokemon.abilities"> {{ ability.ability.name}}</li>
            </ul>

        </div>



    </div>
</div>

