#navigationBar {
    height: 80px;
    background-color: #EED55F;
    size: 13px;
    border-bottom: 2px;
    box-shadow: 0 4px 6px -6px #222;

    .linksZone {
        width: 300px;


    }
}

ul {
    li {
        list-style: none;
    }
}