<section id="navigationBar" class="row" [ngClass]="{'darkTheme': favoriteColorTheme === 'dark', 'lightTheme':favoriteColorTheme === 'light' }">
    <!-- links --> 
    <div class="linksZone" class="col-6 d-flex align-items-center">
        <ul class="d-flex flex-row px-2">
            <li class="px-1 active">
                <a routerLink="/">
                    Directory
                </a>
            </li>
            <li class="px-1">
                <a routerLink="/setting">
                    Settings
                </a>
            </li>
        </ul>
    </div>

    <!-- infos --> 
    <div class="col-6 d-flex align-items-center">
        <span class="text-white"> Total favourites ({{ totalFavouritePokemon }})</span>
    </div>

</section>

