/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

// My CSS
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';


:root {
    --ThemeColor: black !important;
}

* {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    cursor: pointer;
    background-color: var(--ThemeColor);
}


.darkTheme {
    //background-color: var(--Drack);
}

.lightTheme {
    //background-color: var(--Light);
}


